streamlit
qdrant-client
langchain-core
langchain-openai
smolagents
pdfplumber
tiktoken
requests
openai
pydantic
typing-extensions
phidata
streamlit==1.41.1
openai==1.58.1
duckdb==1.1.3
pandas
numpy==1.26.4
agno
together
e2b
e2b_code_interpreter
openpyxl
streamlit>=1.36.0
openai>=1.37.0
tiktoken>=0.7.0
streamlit
agno
Pillow
markdown
google-generativeai
google-genai
duckduckgo-search
ddgs
